In [ ]:
# загрузим нужные библиотеки
import pandas as pd

In [ ]:
# создадим датафрейм, загрузив csv файл
df = pd.read_csv('business_unit_202401261045.csv', header=0)
df

In [ ]:
# заменим значения NaN на 1, для удобства конвертации
df.a_id = df.a_id.fillna('1')
df.t_id = df.t_id.fillna('1')

# определим целочисленный формат значений для указанных ниже столбцов
df = df.astype({'code':"int", 'number':"int"}, errors = "ignore")

# проверим информацию по датасету, убедимся, что все признаки в нужных нам форматах
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3977 entries, 0 to 3976
Data columns (total 27 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   uid                     3977 non-null   object
 1   name                    0 non-null      float64
 2   title                   3707 non-null   object
 3   short_title             3963 non-null   object
 4   description             0 non-null      float64
 5   begin_date              3977 non-null   object
 6   end_date                3977 non-null   object
 7   table_oid               3977 non-null   int64
 8   row_created_date        3977 non-null   object
 9   row_created_by          3974 non-null   object
 10  row_modified_date       0 non-null      float64
 11  row_modified_by         0 non-null      float64
 12  row_deleted_date        0 non-null      float64
 13  row_deleted_by          0 non-null      float64
 14  row_source              3977 non-null   object
 15  row_source_id           0 non-null      float64
 16  armits_id               3977 non-null   int64
 17  tnnd_id                 3977 non-null   int64
 18  code                    3975 non-null   float64
 19  number                  390 non-null    float64
 20  parent_uid              3877 non-null   object
 21  business_entity_uid     21 non-null     object
 22  business_unit_type_uid  3174 non-null   object
 23  business_unit_kind_uid  285 non-null    object
 24  reference_id            3977 non-null   int64
 25  is_virtual              3977 non-null   bool
 26  is_license_owner        3977 non-null   bool
dtypes: bool(2), float64(9), int64(4), object(12)
memory usage: 784.7+ KB

In [ ]:
# сохраним получившийся датафрейм в эксель файл
df.to_excel('business_unit.xlsx')